
name: Docker CI

on:
  push:
    tags:
      - 'v*'

permissions: 
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push Server
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/whoami:${{ github.ref_name }}
            ghcr.io/${{ github.repository_owner }}/whoami:latest
